# ============================================================
# ПРИМЕР КОНФИГУРАЦИОННОГО ФАЙЛА
# ============================================================
# Скопируйте этот файл в terraform.tfvars и заполните
# своими данными. terraform.tfvars НЕ КОММИТИТЬ!
# ============================================================

yc_cloud_id  = "b1gervu69v9ig93k4v83"
yc_folder_id = "b1g4blc2guo29mqbh6bp"

# Путь к ключу сервисного аккаунта
service_account_key_file = "~/diplom-sa-key.json"

# Пути к SSH-ключам (созданы локально)
ssh_public_key_path  = "~/.ssh/diplom.pub"
ssh_private_key_path = "~/.ssh/diplom"
